<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
        </li>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
        </li>
    </ul>
</div>