{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="span3">
            {% include '::modulesUsed/navigation.html.twig' %}
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}   
        </div>
        
        <div class="span9">

            <ul class="thumbnails">
               {% for i in 0..10 %}
                <li class="span3">
                    <div class="thumbnail">
                        <img src="{{ asset('img/holder.png') }}" alt="DevAndClick" width="300" height="300">
                        <div class="caption">
                            <h4>Thumbnail label</h4>
                            <p>100,00 €</p>
                            <a class="btn btn-primary" href="{{ path('presentation') }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('panier') }}">Ajouter au panier</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="pagination">
                <ul>
                    <li class="disabled"><span>Précédent</span></li>
                    <li class="disabled"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Suivant</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}