<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
        <li class="active">
            <a href="index.php">Légumes</a>
        </li>
        <li>
            <a href="index.php">Fruits</a>
        </li>
    </ul>
</div>