<div class="well">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-shopping-cart"></i>
            3 item - 54,27 €
            <b class="caret"></b></a>
        </a>
        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            <p>Item x 1 <span class="pull-right">18,09 €</span></p>
            <p>Item x 1 <span class="pull-right">18,09 €</span></p>
            <p>Item x 1 <span class="pull-right">18,09 €</span></p>
            <a href="panier.php" class="btn btn-primary">Mon Panier</a>
        </div>
    </div>
</div>