<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a>
        </li>
        <li>
            <a href="#">Mes factures</a>
        </li>
        <li>
            <a href="#">Mes adresses</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
        </li>
    </ul>
</div>