{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span3">
        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
    </div>
    <div class="span9">
        <h2>Modifier mon mot de passe</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                        {{ form_widget(form) }}
                        <br />
                        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>