<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Facture</title>
        <link href="./css/facture.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>DevAndClick</h1>
        <table id="enTete">
            <tr>
                <td colspan="1"></td>
                <td colspan="1"><h1>Facture</h1></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td width="80">Page</td>
                <td width="100">Date</td>
                <td width="120">Ref</td>
            </tr>
            <tr>
                <td class="color">[[page_nb]]</td>
                <td class="color"></td>
                <td class="color"></td>
            </tr>
        </table>
        <ul id="coordonnes">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <table id="entity">
            <tr>
                <td width="280">DESIGNATION</td>
                <td width="105">QUANTITE</td>
                <td width="100">P.U - HT</td>
                <td width="105">MONTANT HT</td>
                <td width="105">MONTANT TTC</td>
            </tr>
                <tr>
                    <td class="color"></td>
                    <td class="color"></td>
                    <td class="color"></td>
                    <td class="color"></td>
                    <td class="color"></td>
                </tr>
        </table>
        <table id="total">
            <tr>
                <td width="110">TOTAL HT :</td>
                <td width="100" class="color"></td>
            </tr>
            <tr>
                <td width="110">TVA <span class="color min"></span> :</td>
                <td width="100" class="color">
                </td>
            </tr>
            <tr>
                <td width="110">TOTAL TTC :</td>
                <td width="100" class="color"></td>
            </tr>
        </table>
        <div id="footer">
            <span class="color strong"></span>
            <br />
        </div>
    </body>
</html>