body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.loading {
    float:right;
    margin-right:115px;
    width:30px;
    height:30px;
    display:block;
    background:url('../img/loading.gif');
}