{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="span12">
            <h2>Mot de passe perdu</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span10 offset1">
                        <p>
                            <br />
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
